.container{
    display: grid;
    /* grid-template-columns: 300px 100px 100px; */
    grid-template-columns: 1fr 4fr 1fr; /*divides the screen in the ratio 1:4:1*/
    grid-template-columns: repeat(3, auto); /*this will divide entire screen in 3 equal parts with each columns*/
    grid-gap: 1rem; /*gap of 1rem between grids*/
    grid-template-columns: repeat(autofill, minmax(30px,1fr)); /*useful in making the grid responsive*/
}

.items{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: rgb(255, 101, 101);
    margin: 3px;
    border: 2px solid black;
    padding: 23px;
}

.items:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}