/*transition effect is mainly useful in properties which have a continuos value*/

body{
    background-color: black;
}

.container{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: red;
    justify-content: center;
    align-content: center;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.container:hover{
    background-color: white;
    height: 400px;
    width: 400px;
    font-size: 30px;
}