p {
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    /*A pixel is 1/96th of an inch*/
    line-height: 1.6em;
    /*em is multiple of font size unit */
    font-weight: bold;
    font-style: italic;
}

#para {
    color: crimson;
    background-color: rgba(4, 226, 255, 0.356);
    height: 150px;
    width: 550px;
    border-right: 4px solid green; /* to specifically give prop to diff border*/
    border-left: 4px solid green;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#paragra {
    color: rgb(255, 150, 4);
    /*This is a new way of selecting colors by changing rgb value. This value varies from 0 to 255 starting with red green then blue. Select color from the pallete shown when pointing on the value*/
    background-color: black;
    /*bg color and their prop for this para*/
    height: 100px;
    width: 550px;
    /*border-width: 4px;*/
    /*border prop starts from here. Its necesaary to define border-style for it to work*/
    /*border-color: blueviolet;
    border-style: solid;*/
    border-radius: 6px;
    border: 4px solid blueviolet;
    /*To write border width,style and color in single line)*/
}
#pa{
color: rgba(255, 98, 0, 0.846);
font-style: italic;
height: 400px;  /*This is how you add bg image in CSS*/
width: 700px;
background-image: url(https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/Zugpsitze_mountain.jpg?crop=0%2C214%2C3008%2C1579&wid=1200&hei=630&scl=2.506666666666667);
background-repeat: no-repeat; /*To avoid bg image from repeating*/
background-position: center top; /*To adjust position of bg image*/
}